<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spades Html5 Game</title>
</head>

<body class="bg-gray-200 overflow-x-hidden">
  <header class="p-10 bg-gradient-to-r from-red-400 via-red-500 to-pink-500 text-center">
      <h1 class="hero-heading">Spades</h1>
  </header>
  <div id="root" class="spade-container bg-game-panel sm:rounded-3xl sm:shadow-lg sm:shadow-black sm:border-[3px] sm:border-white relative m-auto p-[5px] ">    

  

      <!-- Score Wrapper -->
      <div id="inline-score-wrapper" class="absolute right-0 bottom-[10px] pl-[23px] w-1/2 text-center">
          <div id="inline-score" class="bg-white rounded-sm inline-block m-auto p-0.5">
              <table  class="w-full border-[1px] border-black border-collapse">
                  <tbody><tr>
                      <th>Team</th>
                      <th>Score</th>
                      <th>Bags</th>
                  </tr><tr>
                      <td class="score-name">You &amp; <span class="top-player-name">Bill</span></td>
                      <td id="human-team-score">0</td>
                      <td id="human-team-bags">0</td>
                  </tr>
                  <tr>
                      <td class="score-name"><span class="left-player-name">Mike</span> &amp; <span class="right-player-name">Lisa</span></td>
                      <td id="computer-team-score">0</td>
                      <td id="computer-team-bags">0</td>
                  </tr>
              </tbody></table>
          </div>
      </div>


       <!-- Result Box -->
        <div class="flex hidden" id="result-box">
            <div class="border m-auto rounded-md bg-tip shadow-md font-xs text-center max-w-[450px] shadow-black relative inline-block min-w-[310px] top-[93px]"
                style="z-index: 500000">
                <h3 id="result-header" class="text-[#800000] text-center p-[14px] text-xl font-semibold">
                    Congratulations! You made your bid!</h3>
                <div id="winner-pics" class="">
                    <div class="flex justify-center">
                        <img src="img/trophy.svg" class="w-[53px]" alt="">
                        <img src="img/trophy.svg" class="w-[53px]" alt="">
                    </div>
                </div>
                <h5 class="text-xs font-bold">Round 1</h5>
                <div
                    class="result-table p-[1px] inline-block bg-white mx-[10px] my-[5px] rounded-sm border-2 border-[#333]">
                    <table class="collapse boreder border-[#00p] w-full min-w-[284px]">
                        <tbody>
                            <tr id="names-row">
                                <th></th>
                                <th class="scorecard-names">You &amp; <span class="top-player-name">Bill</span></th>
                                <th class="scorecard-names"><span class="left-player-name">Mike</span> &amp; <span
                                        class="right-player-name">Lisa</span></th>
                            </tr>
                            <tr id="combined-bid">
                                <td>Combined bid</td>
                                <td class="t1">6</td>
                                <td class="t2">5</td>
                            </tr>
                            <tr id="tricks-taken">
                                <td>Tricks taken</td>
                                <td class="t1">8</td>
                                <td class="t2">5</td>
                            </tr>
                            <tr id="bags">
                                <td>Bags</td>
                                <td class="t1">2</td>
                                <td class="t2">0</td>
                            </tr>
                            <tr id="bags-last-round">
                                <td>Bags from last round</td>
                                <td class="t1">0</td>
                                <td class="t2">0</td>
                            </tr>
                            <tr id="bags-total">
                                <td>Total bags</td>
                                <td class="t1">2</td>
                                <td class="t2">0</td>
                            </tr>
                            
                        <tr id="bags-next-round">
                            <th>Bags carried to next round</th>
                            <td></td>
                            <td></td>
                        </tr>
                       
                            <tr id="scoring-header">
                                <th colspan="3" class="py-3">Scoring</th>
                            </tr>
                            <tr id="successful-bid" class="show-restart">
                                <td>Successful bid</td>
                                <td class="t1">60</td>
                                <td class="t2">50</td>
                            </tr>
                            <tr id="failed-bid" class="show-restart" style="display: none;">
                                <td>Failed bid</td>
                                <td class="t1">0</td>
                                <td class="t2">0</td>
                            </tr>
                            <tr id="bag-score" class="show-restart">
                                <td>Bag score</td>
                                <td class="t1">2</td>
                                <td class="t2">0</td>
                            </tr>
                            <tr id="bag-penalty" class="show-restart" style="display: none;">
                                <td>Bag penalty</td>
                                <td class="t1">0</td>
                                <td class="t2">0</td>
                            </tr>
                            <tr id="successful-nil-bid" class="show-restart" style="display: none;">
                                <td>Successful nil bid</td>
                                <td class="t1">0</td>
                                <td class="t2">0</td>
                            </tr>
                            <tr id="failed-nil-bid" class="show-restart" style="display: none;">
                                <td>Failed nil bid</td>
                                <td class="t1">0</td>
                                <td class="t2">0</td>
                            </tr>
                            <tr id="points-this-round" class="totals">
                                <td>Points this round</td>
                                <td class="t1">62</td>
                                <td class="t2">50</td>
                            </tr>
                            <tr id="points-last-round">
                                <td>Previous points</td>
                                <td class="t1">0</td>
                                <td class="t2">0</td>
                            </tr>
                            <tr id="points-total" class="thick-top">
                                <th>Total points</th>
                                <td class="t1">62</td>
                                <td class="t2">50</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="multiplayer-refresh-countdown" class="text-xs text-center">Starting next round in
                    <span>X</span> seconds...</div>
                <div class="p-[5px] text-center">
                    <button id="suggest-rematch"
                        class="hidden text-sm px-[9px] py-[3px] rounded-md border-[#333] border bg-gradient-to-b from-[#fff] to-[#ddd]">Suggest
                        rematch</button>
                    <button
                        class=" text-sm px-[9px] py-[3px] rounded-md border-[#333] border bg-gradient-to-b from-[#fff] to-[#ddd]"
                        id="start-new-game">Play another hand</button>
                    <button
                        class="hidden text-sm px-[9px] py-[3px] rounded-md border-[#333] border bg-gradient-to-b from-[#fff] to-[#ddd]"
                        id="start-new-tournament">Start a new game</button>
                </div>
            </div>
        </div>
  </div>

  <script>

  </script>

</body>

</html>