@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  #bid-div span {
    cursor: pointer;
    display: inline-block;
    background-color: #fff;
    border: solid 1px #000;
    color: #000;
    width: 25px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 4px;
    font-size: 18px;
  }
}
.dealer::after {
  content: url('/assets/images/dealerhat.svg');
  display: inline-block;
  width: 50px;
  position: absolute;
  top: -16px;
}

button {
  color: #333!important;
  font-family: Arial,sans-serif;
  font-weight: 400!important;
  font-size: 14px;
  padding: 3px 9px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #555!important;
  background: #ddd;
  background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#ddd));
  background: -webkit-linear-gradient(#fff,#ddd);
  background: -moz-linear-gradient(#fff,#ddd);
  background: -o-linear-gradient(#fff,#ddd);
  background: linear-gradient(#fff,#ddd);
  -webkit-touch-callout: none;
  outline: 0;
}

button:hover {
  -webkit-touch-callout: none;
  outline: 0;
  cursor: pointer;
  color: #222!important;
  background: -webkit-gradient(linear,left top,left bottom,from(#ddd),to(#fff));
  background: -webkit-linear-gradient(#ddd,#fff);
  background: -moz-linear-gradient(#ddd,#fff);
  background: -o-linear-gradient(#ddd,#fff);
  background: linear-gradient(#ddd,#fff);
}

#deal-button {
  font-size: 20px;
  font-weight: 700;
  padding: 4px 12px;
  width: 170px;
}

#inline-score table th, #inline-score table td {
  padding: 0 2px;
  font-size: 12px;
  border: solid 1px #000;
  text-align: center;
  white-space: nowrap;
  line-height: 14px;
}

@media (max-width: 730px) {
  #inline-score table td, #inline-score table th {
    font-size: 11px;
    line-height: 11px;
    height: 12px;
  }
}
@media (min-width: 460px) {
  .sm-my-card-grid-col {
    grid-template-columns: repeat(13, 35px);
  }
}